<template>
  <div class="relative h-screen bg-gray-400">
    <!-- <h1 v-for="locations in location" :key="locations">
      <h1>Longitude : {{ locations.longitude }}</h1>
      <h1>Latitude : {{ locations.latitude }}</h1>
    </h1> -->
    <!-- <button class="bg-emerald-300" @click="halo">Klik</button>

    <div class="flex my-4">
      <form @submit.prevent="submit">
        <label for="">Longitude</label>
        <input
          type="text"
          v-model="submitLocation.longitude"
          class="h-8 border-2 border-gray-500 ring-white-700"
        />
        <label for="">Latitude</label>
        <input
          type="text"
          v-model="submitLocation.latitude"
          class="h-8 border-2 border-gray-500 ring-white-700"
        />
        <button type="submit" class="w-40 text-white rounded-sm bg-slate-800">
          Starting Point
        </button>
      </form>
    </div> -->
    <div id="mymap" ref="map" class="z-10 h-full"></div>
  </div>
</template>

<script setup>
import { onMounted, ref, watchEffect } from "vue";
import Pusher from "pusher-js";
import leaflet from "leaflet";
import axios from "axios";
let map;
const location = ref([]);
const locations = ref([]);
const submitLocation = ref({
  latitude: -6.24,
  longitude: 108.32,
});
const fetchCoords = ref(null);
const coords = ref(null);
const geoMarker = ref(null);
const polyline = ref(null);
const setSessionCoords = ref({
  lat: -6.244418,
  lng: 108.32736,
});
const newLocation = ref();
const plotGeolocation = (lat, long) => {
  // console.log(coords.value.lat);
  const customMarker = leaflet.icon({
    iconUrl: "../../../marker.png",
    iconSize: [20, 20],
    iconAnchor: [10, 20],
  });

  if (geoMarker.value) {
    map.removeLayer(geoMarker.value);
  }
  // let markerLayer = leaflet.layerGroup();

  // map = map.setView([lat, long], 6);
  geoMarker.value = leaflet.marker([lat, long], { icon: customMarker });
  let filterLocations = locations.value.map((obj) => {
    return [obj.latitude, obj.longitude];
  });
  geoMarker.value.on("click", openPopup);
  polyline.value = leaflet.polyline(filterLocations, { color: "red" });
  let featureGroup = leaflet
    .featureGroup([geoMarker.value, polyline.value])
    .addTo(map);
  map.fitBounds(featureGroup.getBounds());
  // markers.value.push(geoMarker.value);
  // geoMarker.value._removeLayer(beforeLastEl.value);
  // map.setView([lat, long], 6);
};
const beforeLastEl = ref(null);
const updateCoordinates = () => {
  let newLocation = {
    latitude: location.value.latitude,
    longitude: location.value.longitude,
  };

  plotGeolocation(newLocation.latitude, newLocation.longitude);
};

onMounted(() => {
  map = leaflet.map("mymap").setView([-6.244418, 108.32736], 8);

  // let marker = leaflet.marker([-6.244418, 108.32736]).addTo(map);

  leaflet
    .tileLayer(
      "https://api.mapbox.com/styles/v1/{id}/tiles/{z}/{x}/{y}?access_token=pk.eyJ1Ijoianh4dmllbCIsImEiOiJjbDNoY29sOGExYXFtM2pwODI2eG9nMmg2In0.VFXcjaJrUxJ34qfa5rFXHQ",
      {
        attribution:
          'Map data &copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, Imagery © <a href="https://www.mapbox.com/">Mapbox</a>',
        maxZoom: 18,
        id: "mapbox/streets-v11",
        tileSize: 512,
        zoomOffset: -1,
        accessToken:
          "pk.eyJ1Ijoianh4dmllbCIsImEiOiJjbDNoY29sOGExYXFtM2pwODI2eG9nMmg2In0.VFXcjaJrUxJ34qfa5rFXHQ",
      }
    )
    .addTo(map);
  // let counter = 0;
  // let interval = setInterval(() => {
  //   counter++;
  //   submitLocation.value.latitude -= Math.random() * 0.0001 - 0.0002 + 0.0001;
  //   submitLocation.value.longitude += Math.random() * 0.0001 - 0.0002 + 0.0001;
  //   submit();
  //   if (counter > 5) {
  //     clearInterval(interval);
  //   }
  //   updateCoordinates();
  // }, 2000);
  Pusher.logToConsole = true;
  const pusher = new Pusher("e4ed3df3a3664c4e917a", {
    cluster: "ap1",
  });
  const channel = pusher.subscribe("location-tracker");
  channel.bind("location", (data) => {
    location.value = data;
    locations.value.push(location.value);
    console.log(location.value);
    updateCoordinates();

    console.log(data);
  });
});
function getRandomFloat(min, max, decimals) {
  const str = (Math.random() * (max - min) + min).toFixed(decimals);

  return parseFloat(str);
}
let popup = leaflet.popup();
const openPopup = (e) => {
  popup
    .setLatLng(e.latlng)
    .setContent(
      "You clicked the map at " +
        "<br>" +
        "<button onclick='halo()' class='bg-emerald-300'>Click me</button>"
    )
    .openOn(map);
};
const halo = (e) => {
  alert("Hallo world");
};

const getGeolocation = () => {
  // if (sessionStorage.getItem("coords")) {
  //   coords.value = JSON.parse(sessionStorage.getItem("coords"));
  //   plotGeolocation(coords.value);
  //   return;
  // }
  // fetchCoords.value = true;
  // navigator.geolocation.getCurrentPosition(setCoords, getLocErrors);\
  // const setSessionCoords = {
  //   lat: -6.244418,
  //   lng: 108.32736,
  // };
  // setCoords();
  location.value.latitude = location.value.latitude - Math.random(10);
  location.value.longitude = location.value.longitude - Math.random(10);
  updateCoordinates();
};
const submit = async () => {
  await fetch("http://127.0.0.1:8000/api/v1/tracking", {
    method: "POST",
    headers: { "Content-Type": "application/json" },
    body: JSON.stringify({
      longitude: parseFloat(submitLocation.value.longitude).toFixed(4),
      latitude: parseFloat(submitLocation.value.latitude).toFixed(4),
    }),
  });

  // submitLocation.value.longitude = "";
  // submitLocation.value.latitude = "";
};
const setCoords = () => {
  fetchCoords.value = null;

  // sessionStorage.setItem("coords", JSON.stringify(setSessionCoords));
  coords.value = parseFloat(submitLocation.value[0]);
  // plotGeolocation(coords.value);
};
const getLocErrors = (err) => {
  console.log(err);
};
</script>

<style lang="scss" scoped></style>
