.MuiSvgIcon-root {
  fill: currentColor;
  width: 1em;
  height: 1em;
  display: inline-block;
  font-size: 2.4rem;
  transition: fill 200ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
  flex-shrink: 0;
  -moz-user-select: none;
}
.MuiSvgIcon-colorPrimary {
  color: #009dff;
}
.MuiSvgIcon-colorSecondary {
  color: #173d9a;
}
.MuiSvgIcon-colorAction {
  color: rgba(28, 35, 55, 0.54);
}
.MuiSvgIcon-colorError {
  color: #ea4141;
}
.MuiSvgIcon-colorDisabled {
  color: rgba(0, 0, 0, 0.26);
}
.MuiSvgIcon-fontSizeInherit {
  font-size: inherit;
}
.MuiSvgIcon-fontSizeSmall {
  font-size: 2rem;
}
.MuiSvgIcon-fontSizeLarge {
  font-size: 3.5rem;
}
.icon {
  width: 50px;
  height: 50px;
  display: block;
  fill: currentColor;
}
